# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
node_modules/
.next/
out/

# Environments & Secrets
.env
.env.local
.env*.local
.venv
venv/

# OS files
.DS_Store
Thumbs.db
